<!DOCTYPE html>
<html lang="en">
  <head>
    {{>headlinks}}
  </head>
  <body>
    
    {{>navbar}}
    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <div class="col-md-6 col-12 main_header_left">
              <p>Welcome to Apni Duniya</p>
              <h1>
                I am a<span class="text"> Full Stack Developer,</span>check my project 
              </h1>
              <div class="inline">
              <a href="https://agarwalvivek2000.github.io/codepenClone/" target="_blank"><button>Check Now</button> </a>
              <h2>   :Codepen Clone</h2></div>
                  <div class="inline">
              <a href="https://agarwalvivek2000.github.io/reactlwebsite/" target="_blank"><button>Check Now</button> </a>
              <h2>   :Website using React.js</h2></div>
              <div class="inline">
              <a href="https://agarwalvivek2000.github.io/to-do-list/" target="_blank"><button>Check Now</button> </a>
              <h2>   :To-Do List</h2></div>
              
              <div class="inline">
              <a href="https://agarwalvivek2000.github.io/Add-Notes/" target="_blank"><button>Check Now</button> </a>
              <h2>   :Add-Notes</h2></div>
              <div class="inline">
              <a href="https://agarwalvivek2000.github.io/calculator-project/" target="_blank"><button>Check Now</button> </a>
              <h2>   :Calculator</h2></div>

            </div>
            
            <div class="col-md-6 col-12 main_header_right">
               <figure>
                    <img class="img-fluid w-75 h-75" src="images/person.png" alt="vivek" title="vivek Agarwal">
               </figure>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{>footer}}
    
  </body>
</html>
